extends layout

block content
 
  // Navigation
  nav.navbar.navbar-light.bg-light.static-top
    .container
      a.navbar-brand(href='#') Redimensionar imagenes
      a.btn.btn-primary(href='#') Mas
  form(method='post' enctype='multipart/form-data' action='/upload')
    header.masthead.text-white.text-center
      .overlay
      .container
        .row
          .col-xl-9.mx-auto
            h1.mb-5 Prueba de carga de imagenes convertidas a PDF
          .col-md-10.col-lg-8.col-xl-7.mx-auto
            form
              .form-row
                .col-12.col-md-9.mb-2.mb-md-0
                  input.form-control.form-control-lg(type='file' placeholder='busca la imagen'  name='imagen'  accept="image/jpeg")
                .col-12.col-md-3
                  button.btn.btn-block.btn-lg.btn-primary(type='submit')  A PDF

  // Bootstrap core JavaScript
  script(src='/javascripts/jquery.min.js')
  script(src='/javascripts/bootstrap.bundle.min.js')

