doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description' content='')
    meta(name='author' content='')
    title Prueba de redimensión de imagenes
    // Bootstrap core CSS
    link(href='/stylesheets/bootstrap.min.css' rel='stylesheet')
    // Custom fonts for this template
    link(href='/stylesheets/all.min.css' rel='stylesheet')
    link(href='/stylesheets/simple-line-icons.css' rel='stylesheet' type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic' rel='stylesheet' type='text/css')
    // Custom styles for this template
    link(href='/stylesheets/landing-page.css' rel='stylesheet')
  body
    block content
